{% extends 'base.html' %}

{% block title %}
List Todo's
{% endblock %}

{% block content %}

{% load static %}

<div class="header-bar">
    <h1>Home page</h1>
    <div id="search-add-wrapper">
        <span style="background-color: white; height: 50px; width: 50px; border-radius: 50%; text-align: center;">
            <a id="add-link"  href="{% url 'create_todo' %}">&#x2b;</a>
        </span>
    </div>
</div>
<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper" data-position="{{task.pk}}">
            <div class="task-title">
                {% if task.completed %}
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'update_todo' task.id %}">{{task}}</a></s></i> {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'update_todo' task.id %}">{{task}}</a> {% endif %}
            </div>
            <div class="task-controls">
                <a class="delete-link" href="{% url 'delete_todo' task.id %}">&#215;</a>

            </div>
        </div>

    {% empty %}
        <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
            <h3>No new tasks are created.</h3>
            <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'create_todo' %}">New task</a> ! </h3>
        </div>
    {% endfor %}

</div>




{% endblock %}